<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" routerLink="/">Issues</a>
  <a class="navbar-brand" routerLink="/template">Template Driven Form</a>
  <a class="navbar-brand" routerLink="/reactive">Reactive Form</a>
  <a class="navbar-brand" routerLink="/dynamic">Dynamic Form</a>
</nav>

<div style="text-align:center">
  <!-- <h1>Issue Template driven Form</h1>
  <app-issue-template-driven-form>
  </app-issue-template-driven-form>
  <br>
  <h1>Issue Reactive Form</h1>
  <app-issue-form-reactive>
  </app-issue-form-reactive>
  <h1>Dynamic Form</h1>
  <app-issue-dynamic-form>
  </app-issue-dynamic-form> -->
</div>

<router-outlet></router-outlet>